.container{
    width: 90%;
    margin: 0 auto;
    border: thin solid grey;
}

.headicon{
    width:150px;
}

.topheader{
    display: flex;
    background-color: #E6E6E6;
    font-family: 'Courier New', Courier, monospace;
}
.topheader h1{
    align-self: center;
    margin-left: 20px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #444;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
}

.navbar a:hover {
    background-color: #005f5f;
}


.navbar .rows{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #444;
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
}

.navbar a:hover {
    background-color: #005f5f;
}
  
.mainContent, .boldtext{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
.sidebyside{
    display:flex;
    flex-wrap: wrap;
    
}
.lcont {
    flex: 1 0 5em;
    padding-right: 5%;
 }

 @media only screen and (max-width: 610px) {
    body{
        background-color: black;
        color: white;
    }    
} 
@media only screen and (max-width: 950px) {
     .sidebyside {

        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
     }
} 

.rows{
    width: 95%;
}

.row12{
    width: 200px;
    max-height: 150px;
    border-top: 50px;
    border-right: 50px;
    border-left: 50px;
    border-bottom: 400px;
    
    
    padding: 20px 20px 40px 20px;
    border: 2px outset wheat;
    margin: 20px 20px 40px 20px;
   
    
}
.row2, .row1{
    display: flex;
    padding: 2%;
    justify-content: center;
    
}

.row12 img {
        width:  200px;
        height: 100px;
        justify-content: center;
}
@media only screen and (max-width: 950px) {
    .rows .row1, .row2 {

       width: 75%;
    }
    .row12 img{
        width: 75%;
    }
} 
.row12:hover {
    transition: transform .2s;
    transform: scale(1.05); 
    
}

  
  


